
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Main
        4.3 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-content-container {

}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Main ------------------- */

/* --------------- 4.2.1 Main section 1: Massage offers ------------------- */

/* --------------- 4.2.2 Main section 2: About Bertine ------------------- */

/* --------------- 4.2.1 Main section 3: Booking form ------------------- */

/* --------------- 4.3 Footer contact info ------------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */
