@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}



/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Main
        4.3 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

:root {
    --cadet-blue: #6997a4ff;
    --steel-teal: #72958fff;
    --morning-blue: #8ca192ff;
    --ebony: #63725cff;
    --cadet-blue-light: #f2f7f7ff;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 45px;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.inner-content-container {
    display: flex;
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    margin: 20px 50px;
    align-items: center;
    gap:30px;
}

.button {
    background-color: var(--morning-blue);
    border-radius: 40px;
    border: transparent;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: var(--cadet-blue);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("Vincent_van_Gogh_-_Almond_blossom_-_Google_Art_Project.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    min-height: 50vh;
}

.header_navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header_navigation ul {
    display: flex;
    list-style-type: none;
    flex-basis: 320px;
    justify-content: space-between;

}

ul li {
    text-align: right;
    width: auto;
    font-size: 20px;

}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: var(--ebony);
    text-decoration: none;
}

.header-content__cta {
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0 50px 0;
}

header::after {
    width: 20px;
    height: 20px;
    content: "";
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-top: 0.3em solid transparent;
    transform: rotate(45deg);
    position: absolute;
    bottom: 20px;
}

header::before {
    width: 20px;
    height: 20px;
    content: "";
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid white;
    border-bottom: 0.3em solid white;
    border-top: 0.3em solid transparent;
    transform: rotate(45deg);
    position: absolute;
    bottom: 35px;
}

header h1, p {
    /*border: 2px dashed green;*/
    width: auto;
    padding: 0.1em;
    /*background-color: var(--cadet-blue);*/
}

/* --------------- 4.2 Main ------------------- */

/* --------------- 4.2.1 Main section 1: Massage offers ------------------- */
 .outer-container-main-section1 {
     background-color: var(--cadet-blue-light);
 }
.main-section1__article {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
 }

 .main-section1-article__text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 3em;
     flex-basis: 430px;
     height: 300px;
     flex-grow: 0;
     flex-shrink: 1;
     margin: 20px;
 }

.main-section1-article__text h3{
    color: var(--steel-teal);
    font-size: 30px;
}

.main-section1-article__link a, .main-section1-article__link:visited a {
    color: var(--cadet-blue);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.main-section1-article__link a::after {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2px;
    background-color: var(--cadet-blue);
    position: absolute;
    left: 100px;
    top: 0.6em;
    transition: width 0.35s ease-in-out;
}

.main-section1-article__link a:hover::after {
    content: "";
    display: inline-block;
    width: 10em;
    height: 2px;
    background-color: var(--cadet-blue);
    position: absolute;
    left: 100px;
    top: 0.6em;
}


.main-section1-article__image {
    display: flex;
    flex-basis: 430px;
    height: 350px;
    flex-grow: 0;
    flex-shrink: 1;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.15);
    margin: 20px;

}

.main-section1-article__image img {
    object-fit: cover;
}

.main-section1__article:nth-of-type(even){
    flex-direction: row-reverse;
}


/* --------------- 4.2.2 Main section 2: About Bertine ------------------- */



.main-section2__image {
    display: flex;
    flex-basis: auto;
    height: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: center;
}

.main-section2__image img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

/* --------------- 4.2.1 Main section 3: Booking form ------------------- */

/* --------------- 4.3 Footer contact info ------------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */
